<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-plugin-mobile-ssl-pinning-utility" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MobileSSLPinningUtility</name>
    <js-module name="MobileSSLPinningUtility" src="www/MobileSSLPinningUtility.js">
        <clobbers target="mobilesslpinningutility" />
    </js-module>
</plugin>
